<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
            <tr>
                <th>Sno</th>
                <th>UserName</th>
                <th>Password</th>
            </tr>
            <!-- <tr *ngFor="let user:index as i">
                <td>{{i+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
            </tr> -->
            </table>

        </div>

    </div>

</div>
